# Introduction to Pandas

## Keywords

Series

In [21]:
%reset -f
import pandas as pd
import numpy as np

In [22]:
students = ['Ruslan','Masinjila',None]

In [23]:
pd.Series(students)

0       Ruslan
1    Masinjila
2         None
dtype: object

In [24]:
numbers = [1,2,3,4,5,None]

pd.Series(numbers)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    NaN
dtype: float64

In [25]:
# For floating points, the None type is NaN which means not a number
# The numbers are now floats. Pandas represents NaN as floating point numbers. 
# If the data of integers changes to floats, it is likely because some of the data is NaN
# NaN is not equivalent to None

In [26]:
np.nan == None

False

In [27]:
# Likewise, the following is false
np.nan == np.nan

False

In [28]:
# Instead, it should be tested as follows
np.isnan(np.nan)

True

In [29]:
# Series from dictionaries

student_scores = {'Alice': 'Physics',
                  'Bob' :   'Chemistry',
                  'Ruslan': 'Mathematics'

                    }

s = pd.Series(student_scores)
s

Alice         Physics
Bob         Chemistry
Ruslan    Mathematics
dtype: object

In [30]:
# Get the indices
s.index

Index(['Alice', 'Bob', 'Ruslan'], dtype='object')

In [31]:
# Series with indices

indices = ['Ruslan', 'Bob', 'Alice']
values = ['Mathematics', ' Chemisty','Physics']

pd.Series(values, index = indices)

Ruslan    Mathematics
Bob          Chemisty
Alice         Physics
dtype: object

In [34]:
# The index can be used to specify which keys from a dictionary to align with
# Example
pd.Series(student_scores, index = ['Ruslan','Jamila'])

Ruslan    Mathematics
Jamila            NaN
dtype: object