# KEYWORDS

String, split, tuples, lists, dictionaries, formatting, datetime, date, timedelta, map function, lambda expressions, list compressions.

# Keys and Values of the dictionary

In [16]:
name_email_dictionary = { 'ruslan':'ruslanmasinjila@gmail.com',
                          'hezron':'masinjila@un.org'
                        }

for name in name_email_dictionary:
    print(name_email_dictionary[name])

for email in name_email_dictionary.values():
    print(email)
    
for name, email in name_email_dictionary.items():
    print(name, email)

ruslanmasinjila@gmail.com
masinjila@un.org
ruslanmasinjila@gmail.com
masinjila@un.org
ruslan ruslanmasinjila@gmail.com
hezron masinjila@un.org

# String Formatting

In [17]:
order = {
            'item_name': "milk",
            'packaging': 'carton',
            'item_price(USD)': 2.5,
            'quantity':  3,
            'date(dd/mm/yyyy)': "15/04/2021"
}

to_print = '{} of {} {}(s) was/were bought on {} at a price of {} USD each for a total of {} USD'

print(to_print.format(order['quantity'],
                      order['item_name'],
                      order['packaging'],
                      order['date(dd/mm/yyyy)'],
                      order['item_price(USD)'],
                      order['item_price(USD)']*order['quantity']
                      ))

3 of milk carton(s) was/were bought on 15/04/2021 at a price of 2.5 USD each for a total of 7.5 USD

# Dates and Times

In [18]:
import datetime as dt
import time as tm

now = tm.time()

dtnow = dt.datetime.fromtimestamp(now)

dtnow

datetime.datetime(2021, 4, 16, 17, 20, 49, 860478)

In [19]:
delta = dt.timedelta(days=100)

today = dt.date.today()

# Python Objects and Maps

In [20]:
class Person:
    department = "School of Information Technology and Engineering"
    
    def set_name(self, new_name):
        self.name = new_name
    
    def set_location(self, new_location):
        self.location = new_location

In [21]:
#for i in range(10000):
#    number = '{:04}'.format(i)
#    print(number)

# Map in Python

In [22]:
items1 = [1,5,3,7,9,2]
items2 = [9,5,7,3,6,8]

result = map(min,[items1,items2])

for i in result:
    print(i)

1
3

# Lambda Expressions and List Compressions

In [23]:
function = lambda a,b,c : a+b

In [24]:
lst = [1,2,3,4,5,6,7,8,9,10]

lst_normalized = [x/sum(lst) for x in lst]

print(lst_normalized)

# Using map and lambda

lst_normalized = map(lambda x: x/sum(lst),lst)

print(list(lst_normalized))

[0.01818181818181818, 0.03636363636363636, 0.05454545454545454, 0.07272727272727272, 0.09090909090909091, 0.10909090909090909, 0.12727272727272726, 0.14545454545454545, 0.16363636363636364, 0.18181818181818182]
[0.01818181818181818, 0.03636363636363636, 0.05454545454545454, 0.07272727272727272, 0.09090909090909091, 0.10909090909090909, 0.12727272727272726, 0.14545454545454545, 0.16363636363636364, 0.18181818181818182]

In [25]:
# Exercise


people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

# Normal Function
def split_title_and_name(person):
    return person.split()[0] + ' ' + person.split()[-1]

#option 1
# Using Lambda function with input
for person in people:
    print(split_title_and_name(person) == (lambda x: x.split()[0] + ' ' + x.split()[-1])(person))

#option 2
# Using map and lambda functions
list(map(split_title_and_name, people)) == list(map(lambda person: person.split()[0] + ' ' + person.split()[-1], people))

True
True
True
True

True

In [26]:
# List compression using two variables

def times_tables():
    lst = []
    for i in range(10):
        for j in range (10):
            lst.append(i*j)
    return lst

times_tables() == [j*i for i in range(10) for j in range(10)]

True

# Numpy (Numerical Python Library)